* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.d-flex {
    display: flex;
    justify-content: space-evenly;
}

header {
    height: 100px;
}

main {
    padding-top: 1rem;
    
}